<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atming.mapper.DataMapper">
    <select id="getStockData" resultType="com.atming.entity.Stock">
        select * from stock where stock_type = #{stockType} order by stock_id limit 0,12;
    </select>

</mapper>