<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atming.mapper.ManagerMapper">
    <select id="selectManagerByEmail" resultType="com.atming.entity.User">
        select * from profittrea_user where email = #{email};
    </select>

    <select id="selectUsers" resultType="com.atming.entity.User">
        select * from profittrea_user where organization = #{organization} and role_type = 104
    </select>

    <select id="selectManagers" resultType="com.atming.entity.User">
        select * from profittrea_user where organization = #{organization} and real_name != ''
    </select>

    <select id="selectAll" resultType="com.atming.entity.User">
        select * from profittrea_user
    </select>

    <select id="selectOrganizeByEmail" resultType="String">
        select organization from profittrea_user where email = #{email}
    </select>

    <select id="selectManagerAsName" resultType="com.atming.entity.User">
        select * from profittrea_user where organization = #{0} and user_name like "%"#{1}"%" and real_name != ''
    </select>

    <select id="selectAdminAsName" resultType="com.atming.entity.User">
        select * from profittrea_user where user_name like "%"#{userName}"%"
    </select>

    <select id="findByDate" resultType="com.atming.entity.User">
        select * from profittrea_user where organization = #{0} and create_time between #{1} and #{2} and role_type = 104
    </select>

    <select id="findAllDate" resultType="com.atming.entity.User">
        select * from profittrea_user where create_time between #{0} and #{1} and role_type = 104
    </select>

    <select id="findByNameAndDate" resultType="com.atming.entity.User">
        select * from profittrea_user where user_name = #{0} and create_time between #{1} and #{2}
    </select>

    <insert id="insertUser" parameterType="com.atming.entity.User">
        insert into profittrea_user(user_id,user_name,password,salt,real_name,organization,student_number,major,grade,email,status,create_time,update_time,role_type)
        values(#{userId},#{userName},#{password},#{salt},#{realName},#{organization},#{studentNumber},#{major},#{grade},#{email},#{status},#{createTime},#{updateTime},#{roleType})
    </insert>

    <delete id="deleteManager" parameterType="String">
        delete from profittrea_user where user_id = #{userId}
    </delete>

    <select id="findById" resultType="com.atming.entity.User">
        select * from profittrea_user where user_id = #{userId};
    </select>

    <select id="findByUserName" resultType="com.atming.entity.User">
        select * from profittrea_user where user_name = #{userName};
    </select>

    <update id="updateById">
        update profittrea_user
        <set>
            real_name=#{1},
            email=#{2},
            update_time=#{3}
        </set>
        where user_id=#{0}
    </update>

    <update id="updateUserById">
        update profittrea_user
        <set>
            real_name=#{1},
            email=#{2},
            student_number=#{3},
            major=#{4},
            grade=#{5},
            update_time=#{6}
        </set>
        where user_id=#{0}
    </update>

</mapper>