<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atming.mapper.OrganizeMapper">
    <select id="selectByEmail" resultType="com.atming.entity.OrganizationManger">
        select * from profittrea_organization where email = #{email};
    </select>

    <select id="selectByID" resultType="com.atming.entity.OrganizationManger">
        select * from profittrea_organization where organization_id = #{organizationId}
    </select>

    <select id="selectAll" resultType="com.atming.entity.OrganizationManger">
        select * from profittrea_organization where organize_name != 'administrator'
    </select>

    <select id="selectOrganizeByName" resultType="com.atming.entity.OrganizationManger">
        select * from profittrea_organization where organize_name != 'administrator' and organize_name like "%"#{organizeName}"%"
    </select>

    <select id="selectId" resultType="String">
        select organization_id from profittrea_organization order by organization_id desc limit 0,1
    </select>

    <select id="selectOneOrganize" resultType="com.atming.entity.OrganizationManger">
        select * from profittrea_organization where organize_name != 'administrator' and organize_name = #{organizeName}
    </select>

    <select id="selectOrganizeByDate" resultType="com.atming.entity.OrganizationManger">
        select * from profittrea_organization where organize_name != 'administrator' and organize_name = #{0} and create_time between #{1} and #{2}
    </select>

    <select id="selectByDate" resultType="com.atming.entity.OrganizationManger">
        select * from profittrea_organization where organize_name != 'administrator' and create_time between #{0} and #{1}
    </select>

    <insert id="insertOrganize" parameterType="com.atming.entity.OrganizationManger">
        insert into profittrea_organization(organization_id,organize_name,email,location,address,status,type,create_time,update_time)
        values(#{organizationId},#{organizeName},#{email},#{location},#{address},#{status},#{type},#{createTime},#{updateTime})
    </insert>

    <delete id="deleteOne" parameterType="String">
        delete from profittrea_organization where organization_id = #{organizeId}
    </delete>

    <delete id="deleteUser" parameterType="String">
        delete from profittrea_user where organization = #{organizeId}
    </delete>

    <select id="getCityList" resultType="String">
        select distinct(city_name) from city
    </select>

    <select id="getCountryList" parameterType="String" resultType="String">
        select country from city where city_name = #{cityName}
    </select>

    <update id="updateOrganizeById">
        update profittrea_organization
        <set>
            organize_name=#{0},
            email=#{1},
            address=#{2},
            type=#{3},
            update_time=#{4}
        </set>
        where organization_id=#{5}
    </update>

</mapper>