<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atming.mapper.OrganizeMapper">
    <select id="selectByEmail" resultType="com.atming.entity.OrganizationManger">
        select * from profittrea_organization where email = #{email};
    </select>

    <select id="selectAll" resultType="com.atming.entity.OrganizationManger">
        select * from profittrea_organization
    </select>

    <select id="selectId" resultType="String">
        select organization_id from profittrea_organization order by organization_id desc limit 0,1
    </select>

    <insert id="insertOrganize" parameterType="com.atming.entity.OrganizationManger">
        insert into profittrea_organization(organization_id,organize_name,email,location,address,status,create_time,update_time)
        values(#{organizationId},#{organizeName},#{email},#{location},#{address},#{status},#{createTime},#{updateTime})
    </insert>

    <delete id="deleteOne" parameterType="String">
        delete from profittrea_organization where organization_id = #{organizeId}
    </delete>
</mapper>