<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atming.mapper.TransactionMapper">
    <select id="selectStock" resultType="com.atming.entity.Stock">
        select * from stock where stock_type = 'STOCK' ORDER BY price_limit DESC limit 0,7
    </select>

    <select id="selectBuyStock" resultType="com.atming.entity.Stock">
        select * from stock where stock_type = 'STOCK' and stock_code like "%"#{stockCode}"%" order by price_limit DESC limit 0,8
    </select>

    <select id="selectShareById" resultType="com.atming.entity.Share">
        select * from share where user_id = #{userId}
    </select>

    <select id="selectMarketInfo" resultType="com.atming.entity.Market">
        select * from market where organize_id = #{organizeId}
    </select>

    <select id="selectRevokeByUserId" resultType="com.atming.entity.RevokeList">
        select * from revoke_list where user_id = #{userId}
    </select>

    <select id="selectEntrustByUserId" resultType="com.atming.entity.TodayEntrust">
        select * from today_entrust where user_id = #{0} and entrust_date = #{1}
    </select>

    <select id="selectEntrustByStockCode" resultType="com.atming.entity.TodayEntrust">
        select * from today_entrust where stock_code = #{stockCode}
    </select>

    <select id="selectFundByStock" resultType="com.atming.entity.Fund">
        select * from fund where stock_code = #{stockCode}
    </select>

    <select id="selectFundByUserId" resultType="com.atming.entity.Fund">
        select * from fund where user_id = #{userId}
    </select>

    <select id="selectFundByIdAndStock" resultType="com.atming.entity.Fund">
        select * from fund where user_id = #{0} and stock_code = #{1}
    </select>

    <select id="selectTodayTransaction" resultType="com.atming.entity.TodayTransaction">
        select * from today_transaction where user_id = #{0} and transaction_date = #{1}
    </select>

    <select id="selectTransaction" resultType="com.atming.entity.TodayTransaction">
        select * from today_transaction where user_id = #{userId}
    </select>

    <select id="selectFiveOrder" resultType="com.atming.entity.FiveOrder">
        select * from five_order where stock_code = #{stockCode}
    </select>

    <insert id="insertRevoke" parameterType="com.atming.entity.RevokeList">
        insert into revoke_list(id,user_id,stock_code,stock_name,entrust_price,entrust_number,transaction_price,transaction_number,date,operation)
        values(#{id},#{userId},#{stockCode},#{stockName},#{entrustPrice},#{entrustNumber},#{transactionPrice},#{transactionNumber},#{date},#{operation})
    </insert>

    <insert id="insertTodayEntrust" parameterType="com.atming.entity.TodayEntrust">
        insert into today_entrust(entrust_id,user_id,entrust_number,entrust_price,transaction_number,transaction_price,entrust_date,entrust_time,entrust_type,description,operation,stock_code,stock_name)
        values(#{entrustId},#{userId},#{entrustNumber},#{entrustPrice},#{transactionNumber},#{transactionPrice},#{entrustDate},#{entrustTime},#{entrustType},#{description},#{operation},#{stockCode},#{stockName})
    </insert>

    <insert id="insertTodayTransaction" parameterType="com.atming.entity.TodayTransaction">
        insert into today_transaction(transaction_id,user_id,transaction_number,transaction_price,transaction_amount,transaction_date,operation,revoke_number,stock_code,stock_name)
        values(#{transactionId},#{userId},#{transactionNumber},#{transactionPrice},#{transactionAmount},#{transactionDate},#{operation},#{revokeNumber},#{stockCode},#{stockName})
    </insert>

    <insert id="insertTodayFund" parameterType="com.atming.entity.Fund">
        insert into fund(user_id,stock_code,stock_name,stock_number,useful_number,freeze_number,cost_price,market_price,market_value,float_profit,profit_ratio)
        values(#{userId},#{stockCode},#{stockName},#{stockNumber},#{usefulNumber},#{freezeNumber},#{costPrice},#{marketPrice},#{marketValue},#{floatProfit},#{profitRatio})
    </insert>

    <update id="updateTodayEntrust" parameterType="com.atming.entity.TodayEntrust">
        update today_entrust
        <set>
            <if test="transactionNumber != null" >transaction_number = #{transactionNumber},</if>
            <if test="transactionPrice != null" >transaction_price = #{transactionPrice},</if>
            <if test="entrustDate != null" >entrust_date = #{entrustDate},</if>
            <if test="entrustTime != null" >entrust_time = #{entrustTime},</if>
            <if test="description != null" >description = #{description}</if>
        </set>
        where entrust_id = #{entrustId}
    </update>

    <update id="updateTodayFund" parameterType="com.atming.entity.Fund">
        update fund
        <set>
            <if test="stockCode != null" >stock_code = #{stockCode},</if>
            <if test="stockName != null" >stock_name = #{stockName},</if>
            <if test="stockNumber != null" >stock_number = #{stockNumber},</if>
            <if test="usefulNumber != null" >useful_number = #{usefulNumber},</if>
            <if test="freezeNumber != null" >freeze_number = #{freezeNumber},</if>
            <if test="costPrice != null" >cost_price = #{costPrice},</if>
            <if test="marketPrice != null" >market_price = #{marketPrice},</if>
            <if test="marketValue != null" >market_value = #{marketValue},</if>
            <if test="floatProfit != null" >float_profit = #{floatProfit},</if>
            <if test="profitRatio != null" >profit_ratio = #{profitRatio}</if>
        </set>
        where id = #{id}
    </update>

    <update id="updateShareById" parameterType="com.atming.entity.Share">
        update share
        <set>
            <if test="availableBalance != null">available_balance = available_balance + #{availableBalance},</if>
            <if test="fundBalance != null">fund_balance = fund_balance + #{fundBalance},</if>
            <if test="freezeBalance != null">freeze_balance = freeze_balance + #{freezeBalance},</if>
            <if test="totalFund != null">total_fund = total_fund + #{totalFund},</if>
            <if test="totalProfit != null">total_profit = total_profit + #{totalProfit}</if>
        </set>
        where user_id = #{userId}
    </update>

    <delete id="deleteRevokeById">
        delete from revoke_list where id = #{id}
    </delete>

    <delete id="deleteTodayEntrustByCode">
        delete from today_entrust where stock_code = #{0} and entrust_date = #{1}
    </delete>
</mapper>