<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atming.mapper.UserMapper">
    <select id="findOne" resultType="com.atming.entity.User">
        select * from profittrea_user where user_name = #{userName};
    </select>

    <select id="findById" resultType="com.atming.entity.User">
        select * from profittrea_user where user_id = #{userId};
    </select>

    <update id="updateUserByUserId" parameterType="com.atming.entity.User">
        update profittrea_user
        <set>
            <if test="password != null">password=#{password}</if>
        </set>
        where user_Id=#{userId}
    </update>

    <update id="updateMarketByOrganize">
        update market
        <set>
            morningStart=#{1},
            morningEnd=#{2},
            afternoonStart=#{3},
            afternoonEnd=#{4}
        </set>
        where organize_id=#{0}
    </update>

</mapper>